Amacımız bir müşteri bırakır mı bizim işletmeyi ? 

Eğer bunu anlayabilirsek, müşteriyi de kazanmış olucaz.

bu durumu anlamak..

In [67]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [68]:
veriler=pd.read_csv("C:/Users/yusuf/Desktop/GOALS/MACHINE LEARNING/Basic/datas/Churn_Modelling.csv")

veriler

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

Data-Preprocessing yapmadan önce bilinmesi gerekenler :

RowNumber gereksizdir. Çünkü 8 numaralı müşteri bizi bıraktı 11 numaralı bırakmadı gibi bir genelleme overfitting'e yol açar.


CustomerID sisteme herhangi bir etkiisi yok onu da kaldırıcaz.


Surname ise Lui olanlar bırakmıyor Tu olanlar bırakıyor gibi bir genelleme istemiyoruz. Bu kolondan da kurtulucaz.

## DATA PRE-PROCESSING

X ve Y 'yi seçme..

In [69]:
x=veriler.iloc[:,3:13].values

y= veriler.iloc[:,-1:].values

x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [70]:
y

array([[1],
       [0],
       [1],
       ...,
       [1],
       [1],
       [0]], dtype=int64)

ENCODING yapılması gereken kolonumuz var mı ? 

Evet.
Gender= Cinsiyet
Geography= Coğrafya.


Label Encoding yöntemini kullanıcam

In [71]:
from sklearn import preprocessing

le=preprocessing.LabelEncoder()

# ilk ulkeler kolonunu alıcam.
# ulke=x[:,1]
# ulke
x[:,1]=le.fit_transform(x[:,1])
x[:,1]

array([0, 2, 0, ..., 0, 1, 0], dtype=object)

In [72]:
#Sonra da cinsiyet için yapıcam.

le2=preprocessing.LabelEncoder() #aslında aynı kapsülde kullanabilir. Hiç bir sorun yok ancak buradaki amacımız kodun anlaşabilirliğini arttırmak.


# cinsiyet=x[:,2]
# cinsiyet
x[:,2]=le2.fit_transform(x[:,2])
x[:,2]

array([0, 0, 0, ..., 0, 1, 0], dtype=object)

Şimdi biz artifical neural network(yapay sinir ağlarıyla) birlikte öğreneceğinden dolayı vereceğimiz features(özellikler) 0-1 arasında olmalı diğer kolonları ve buna uymayanlar için OneHotEncoder yöntemine de başvurucam.

In [73]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer # aynı anda ayrı ayrı dönüştürülmesi için import ettik.


ohe=ColumnTransformer([("ohe",OneHotEncoder(dtype=float),[1])],remainder="passthrough") #parametreleri str olarak değişken, yöntem ve tipi, ve kaçıncı kolon olduğunu yazıyoruz.

x=ohe.fit_transform(x)
x=x[:,1:]

x

array([[0.0, 0.0, 619, ..., 1, 1, 101348.88],
       [0.0, 1.0, 608, ..., 0, 1, 112542.58],
       [0.0, 0.0, 502, ..., 1, 0, 113931.57],
       ...,
       [0.0, 0.0, 709, ..., 0, 1, 42085.58],
       [1.0, 0.0, 772, ..., 1, 0, 92888.52],
       [0.0, 0.0, 792, ..., 1, 0, 38190.78]], dtype=object)

ColumnTransformer ile ilgili daha detaylı bilgiler için : 

https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html

DATA'NIN TEST VE TRAIN OLARAK AYRILMASI

In [74]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42) # Why fourty-two because The Hitchhiker's Guide to the Galaxy..

Normalizasyon işlemleri

In [75]:
from sklearn.preprocessing import StandardScaler # bu scaler konusuna daha detaylı ileriki kodlarda geleceğiz.

sc=StandardScaler()

x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

## YAPAY SİNİR AĞLARI

In [76]:
import keras

from keras.models import Sequential
from keras.layers import Dense #Noronları oluşturabileceğimiz kapsül

In [77]:
classifier= Sequential() #bir model oluşturuyoruz.

classifier.add(Dense(11))
classifier.add(Dense(6,activation="relu"))      
                                                    #gizli katman
classifier.add(Dense(6,activation="relu"))

classifier.add(Dense(1,activation="sigmoid")) #çıkış katmanı


classifier.compile(loss='binary_crossentropy', optimizer='adam',metrics=["accuracy"])  #derlemiş olucaz bu şekilde.

#neden loss function binary_crossentropy olarak seçtik hep normal de categorical seçilir?
#TARGET KOLON hepsi 0 ila 1 arasında olduğu için, eğer başka şeyler de olsaydı onun için categorical kullanıcaz.

In [78]:
classifier.fit(x_train,y_train,epochs=55,batch_size=32)

Epoch 1/55
219/219 [==============================] - 1s 2ms/step - loss: 0.5170 - accuracy: 0.7861
Epoch 2/55
219/219 [==============================] - 0s 2ms/step - loss: 0.4520 - accuracy: 0.7936
Epoch 3/55
219/219 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.8003
Epoch 4/55
219/219 [==============================] - 0s 2ms/step - loss: 0.4294 - accuracy: 0.8084
Epoch 5/55
219/219 [==============================] - 0s 2ms/step - loss: 0.4228 - accuracy: 0.8116
Epoch 6/55
219/219 [==============================] - 0s 2ms/step - loss: 0.4120 - accuracy: 0.8243
Epoch 7/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3901 - accuracy: 0.8393
Epoch 8/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3696 - accuracy: 0.8483
Epoch 9/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8550
Epoch 10/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8554
Epoch 11/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8551
Epoch 12/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3482 - accuracy: 0.8574
Epoch 13/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8557
Epoch 14/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8573
Epoch 15/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8584
Epoch 16/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8601
Epoch 17/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8583
Epoch 18/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8584
Epoch 19/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8563
Epoch 20/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8594
Epoch 21/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8599
Epoch 22/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8593
Epoch 23/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8621
Epoch 24/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8611
Epoch 25/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8599
Epoch 26/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8599
Epoch 27/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8600
Epoch 28/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8581
Epoch 29/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8594
Epoch 30/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8581
Epoch 31/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8604
Epoch 32/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8587
Epoch 33/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8610
Epoch 34/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8600
Epoch 35/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8599
Epoch 36/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8610
Epoch 37/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8627
Epoch 38/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8594
Epoch 39/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8616
Epoch 40/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8610
Epoch 41/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8607
Epoch 42/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8599
Epoch 43/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8606
Epoch 44/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8597
Epoch 45/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8620
Epoch 46/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8594
Epoch 47/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8606
Epoch 48/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8629
Epoch 49/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8633
Epoch 50/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8616
Epoch 51/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8621
Epoch 52/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8616
Epoch 53/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8606
Epoch 54/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8614
Epoch 55/55
219/219 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8593

In [79]:


y_pred=classifier.predict(x_test)

y_pred

array([[0.06034634],
       [0.01539269],
       [0.13660365],
       ...,
       [0.04374   ],
       [0.00449875],
       [0.1452654 ]], dtype=float32)

Birden veya 0'dan çok farklı rakamlardan oluşuyor bu şekilde Confusion koyamam. Bu rakamlar bu müşterilerin %80 bırakır %20 bırakır gibi ayrıştırmış..

Bundan dolayı bir eşikten geçirmek zorundayım.

In [83]:
y_pred=(y_pred>0.5)

y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

Confusion Matrix 'de doğruluğu kıyaslama..

In [82]:
from sklearn.metrics import confusion_matrix

cm= confusion_matrix(y_pred,y_test)

cm

array([[2345,  329],
       [  71,  255]], dtype=int64)